html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  



@import '../scss/mixins/breakpoints';
@import '../scss/mixins/grid-framework';
@import '../scss/mixins/grid';
@import 'grid';

