@import "assets/scss/varibles";
@import "assets/scss/root";

p:first-child{
    color: var(--blue)
}
p:nth-child(2){
    color: var(--purple)
}
p:nth-child(3){
    color: var(--green)
}
p:nth-child(4){
    font-size: env(--font-size);
    padding:env(--branding-padding)
}
div{
    color: var(--orange)
}
